In [7]:
import ibm_db
import ibm_db_dbi
import pandas as pd

In [19]:
conn = ibm_db.connect("DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=;PWD=;Security=SSL;","","")

Exception: [IBM][CLI Driver] SQL1042C  An unexpected system error occurred.  SQLSTATE=58004 SQLCODE=-1042

In [ ]:
conn

In [7]:
select = "SELECT * FROM COUNTRIES"

In [16]:
statement = ibm_db.exec_immediate(conn, select)

In [17]:
statement

In [10]:
while statement != False:
    row = ibm_db.fetch_tuple(statement)
    if row == False:
        break
    print(row)

('1  ', 'United Kingdom of Great Britain and Ireland', 'Europe       ', 'Active', datetime.date(1945, 10, 24))
('176', 'Kyrgyz Republic', 'Asia         ', 'Active', datetime.date(1992, 3, 2))
('2  ', 'United States of America', 'North America', 'Active', datetime.date(1945, 10, 24))
('3  ', "People's Republic of China", 'Asia         ', 'Active', datetime.date(1945, 10, 24))
('4  ', 'Russian Federation', 'Asia         ', 'Active', datetime.date(1945, 10, 24))

In [11]:
columns = ibm_db.columns(conn, None, None, 'COUNTRIES')

In [12]:
columns

In [13]:
while columns:
    row = ibm_db.fetch_both(columns)
    if row == False:
        break
    print(row['COLUMN_NAME'])

COUNTRY_ID
COUNTRY_NAME
CONTINENT
COUNTRY_STATUS
ADMISSION_DATE

In [14]:
wrap_conn = ibm_db_dbi.Connection(conn)
df = pd.read_sql(select, wrap_conn)

In [15]:
df

,COUNTRY_ID,COUNTRY_NAME,CONTINENT,COUNTRY_STATUS,ADMISSION_DATE
0,1,United Kingdom of Great Britain and Ireland,Europe,Active,1945-10-24
1,176,Kyrgyz Republic,Asia,Active,1992-03-02
2,2,United States of America,North America,Active,1945-10-24
3,3,People's Republic of China,Asia,Active,1945-10-24
4,4,Russian Federation,Asia,Active,1945-10-24