# NumPy

Allows us to perform mathematical operations on blocks of data

In [63]:
# to insert a library (a file consisting of Python code) use 'import'
# library must already be installed. numpy and pandas come pre-installed with Anaconda
import numpy as np

### Ranges & Basic Maths

In [64]:
np_range = np.arange(10)
np_range

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
np_range = np.arange(0, 20, 4)
np_range

array([ 0,  4,  8, 12, 16])

In [66]:
np_range * 3

array([ 0, 12, 24, 36, 48])

In [67]:
np_range * np_range

array([  0,  16,  64, 144, 256])

### N-Dimensional array object.

In [68]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [69]:
data = np.array([[ 1.9526, -0.246 , -0.8856],[ 0.5639, 0.2379, 0.9104]])
data

array([[ 1.9526, -0.246 , -0.8856],
       [ 0.5639,  0.2379,  0.9104]])

In [70]:
data.ndim

2

In [71]:
data.shape

(2, 3)

In [72]:
data.dtype

dtype('float64')

In [73]:
np.sqrt(data)

/Users/chungleu@uk.ibm.com/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

array([[1.39735464,        nan,        nan],
       [0.75093275, 0.48774994, 0.95414884]])

In [74]:
np.mean(data)

0.42219999999999996

### Boolean Indexing

In [75]:
rand_data = np.random.rand(5,3)
rand_data

array([[0.36013694, 0.54832082, 0.15738703],
       [0.28659236, 0.35596409, 0.07119091],
       [0.00370751, 0.81623298, 0.23119695],
       [0.46354253, 0.11466486, 0.60317978],
       [0.28575532, 0.08417075, 0.99881022]])

In [76]:
rand_data >= 0.3

array([[ True,  True, False],
       [False,  True, False],
       [False,  True, False],
       [ True, False,  True],
       [False, False,  True]])

In [77]:
rand_data[(rand_data >= 0.3)]

array([0.36013694, 0.54832082, 0.35596409, 0.81623298, 0.46354253,
       0.60317978, 0.99881022])

In [78]:
np.where(rand_data >= 0.3)

(array([0, 0, 1, 2, 3, 3, 4]), array([0, 1, 1, 1, 0, 2, 2]))

### <span style="color: red">Your Turn:</span>

1) Create a 3 x 2 numpy array (called array1) with whatever numeric values you want. They might even be random<br>
2) Create a new numpy array (called array2) that doubles those values <br>
3) Find the mean values of your new array

In [79]:
array1 = np.array([[1, 2], [2, 3], [3, 2]])
array1

array([[1, 2],
       [2, 3],
       [3, 2]])

In [81]:
array2 = array1 *2

In [82]:
np.mean(array2)

4.333333333333333

# Pandas

In [84]:
import pandas

### Dataframe
- like tables in Excel
- represents a tabular, spreadsheet-like data structure 
- each column can be a different value type (numeric, string, boolean, etc.)
- has both a row and column index

### Grabbing our CO2 data from the World Bank

OG source: data.worldbank.org/indicator/EN.ATM.CO2E.PC/ <br>
Re-uploaded to Box in Technical Community here: https://ibm.ent.box.com/folder/126399220371

In [ ]:
data = pd.read_csv('https://ibm.box.com/shared/static/xv7vmn58q7y4gijzb742d43unsyfkx42.csv', skiprows = 4)

In [ ]:
data

In [ ]:
type(data)

Display the first 5 rows

In [ ]:
# stick a number in head() and it'll return that many from the top
data.head()

<span style="color: red; font-size: large">Pro Tip</span>
Don't remember what a function does? Use `?`

In [ ]:
?data.head

In [ ]:
# Guess what the tail method will do
data.tail(3)

### Understanding the data

In [ ]:
# Remember .shape ?
data.shape

In [ ]:
# Describe is super useful
data.describe()

In [ ]:
data.columns

In [ ]:
data.columns[0]

In [ ]:
# Print out the 2nd column

### Select Columns in a DataFrame

In [ ]:
data['Country Name']

In [ ]:
# Use an Index of a column instead of a name

In [ ]:
data[data.columns[0]]

In [ ]:
data[data.columns[[0, 1]]]

### Select Rows Columns in a DataFrame

In [ ]:
data[0:3] #First to third rows

In [ ]:
data[:3] #First to third rows

### Combine Rows and Columns

In [ ]:
data[:2][['Country Name', 'Country Code']]

### Conditional Selects

In [ ]:
data[data['Country Name'] == 'China']

In [ ]:
data[data['Country Name'].isin(['Afghanistan', 'China', 'United Kingdom', 'United States'])]

### <span style="color: red">Your Turn:</span>

<h3>Find the CO2 Emission per capita for France and Germany in 2014, 2015, 2016</h3>

<img src = https://ibm.box.com/shared/static/eejuk241dgo4dl7w24r9ej3e8eti8ui2.png>

It's a 2-step process. Filtering by country, then returning particular columns

#### Tips
- Use `data['Column Name'.isin(['ValueToCheck#1', 'ValueToCheck#2', 'ValueToCheck#3])]` to filter <br>
- Once you have a filtered dataframe, you can return a selection of columns using a list of column names<br>
`[['ColumnYouWant#1', 'ColumnYouWant#2', etc]]`

## Cleaning Data

1. Some rows are aggregates of countries rather than actual countries (e.g., "World").
1. Some columns are irrelevant and can be removed (e.g., "Indicator Name").
1. Some years have no data for any country (e.g., 2012 to 2015).

### Some rows are aggregates of countries

In [ ]:
metadata = pd.read_csv('https://ibm.box.com/shared/static/sr8g1f4e63n8sln77whrglo4cicbppm7.csv')

In [ ]:
metadata

How do we identify when a listed "Country Name" is a country or an aggregated region?

Notice when the row is an aggregate like "Arab World", the Region and IncomeGroup are consistently NaN (Not a Number). We can use this rule to remove all non-country regions.

In [ ]:
merged = pd.merge(data, metadata, on = "Country Code")

In [ ]:
merged.head(10)

We see that the region values are NaN when the row isn't an actual country

In [ ]:
pd.notnull(merged['Region'])

In [ ]:
merged[pd.notnull(merged['Region'])]

In [ ]:
merged = merged[pd.notnull(merged['Region'])]
merged.head(10)

### Get rid of irrelevant columns

In [ ]:
merged.columns

In [ ]:
merged = merged.drop(['Indicator Name', 'Indicator Code', 'SpecialNotes', 'TableName', 'Unnamed: 5', 'Unnamed: 65'], axis=1)

### Some Years have no Data for any Country

In [ ]:
# .count() counts the non-NA cells for each column or row
merged.count()

In [ ]:
merged = merged.drop(['2017', '2018', '2019', '2020'], axis=1)

### Some countries have no data for any year

In [ ]:
# .mean() takes the mean of all numeric quantities for a row or column
merged.mean(axis=1)

We see a couple of rows have NaN means suggesting they have no numeric data

In [ ]:
merged = merged[pd.notnull(merged.mean(axis=1))]

In [ ]:
merged

## Export as CSV

In [ ]:
merged.to_csv("102 - CO2emissions - cleaned.csv", index = False) #See Recent Data for exported csv

# Basic Visualisation

In [ ]:
merged.groupby('Region').mean()

In [ ]:
merged_region = merged.groupby('Region').mean()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
merged_region[merged_region.columns[1:]]

In [ ]:
plt.plot(merged_region)
plt.show()

In [ ]:
merged_region.transpose()

In [ ]:
plt.plot(merged_region.transpose())
plt.show()

In [ ]:
merged_region.index

In [ ]:
plt.figure(figsize=(15,5))

plt.xlabel('Years')
plt.ylabel('CO2 emissions (metric tons per capita)')

plt.plot(merged_region.transpose())
plt.legend(merged_region.index)

plt.show()